#apcss-app {
    max-width: 900px;
}

#appcss-app textarea {
    font-family: ui-monospace, monospace;
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
}

.apcss-output {
    background-color: #0f172a;
    color: #e5e7eb;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 6px;
    white-space: pre-wrap;
    margin-top: 15px;
}