#apcss-app {
    max-width: 900px;
}

#appcss-app textarea {
    font-family: ui-monospace, monospace;
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
}

.apcss-output {
    background-color: #0f172a;
    color: #e5e7eb;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 6px;
    white-space: pre-wrap;
    margin-top: 15px;
}

#apcss-app .form-table th {
    width: 200px;
}

#apcss-app .description {
    font-size: 13px;
    color: #6b7280;
}

.apcss-css-content-box {
    font-family:'Courier New', Courier, monospace !important;
}